<div class="jumbotron home" style="background-color: white;">
  <p class="display-4">Let's become a <strong>"Suketto"</strong>!</p>
  <%= link_to "もっと詳しく>>", about_path, class: "btn btn-danger", style: "font-weight: 900;" %>
</div>