<div class="jumbotron top" style="background-color: white;">
  <h1 class="display-4">Let's become a <strong>"Suketto"</strong>!</h1>
  <%= link_to "もっと詳しく>>", about_path, class: "btn btn-outline-danger" %>
</div>