// Place all the styles related to the users::purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ticket-possession {
	margin-bottom: 15px;
}

.ticket-form {
	margin: 15px 0;
}

.radio_button {
	display: none;
}

.purchase-form {
	margin-bottom: 20px;
	background-color: #fff;
	padding: 20px;
	p {
		font-size: 12px;
		margin: 0;
		padding: 5px 0 0 0 ;
	}
	div {
		margin-bottom: 5px;
	}
}